@import "../../index.scss";

section#deals {
  background: $bgprimary;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 170px 64px;
  width: 100vw;

  .text-card {
    font-family: $fontpopins;
    width: 600px;
    .text-large {
      font-weight: 600;
      font-size: 48px;
      color: #fff;
      margin-bottom: 24px;
    }

    .text-small {
      color: rgba(255, 255, 255, 0.7);
      margin-bottom: 48px;
    }

    .button-text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 170px;
      height: 64px;
      background: $bgbutton;
      border-radius: 10px;
      font-weight: 500;
      font-size: 18px;
    }
  }

  .img {
    img {
      width: 663px;
      height: 549px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 24px;

    .img {
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .text-card {
      .text-large {
        font-size: 35px;
      }
    }
  }
}
